<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>To Do List</title>
    </head>
    <body>
        <h1><%=kindOfDay%> ToDo List</h1>
         <ul>
            <li>Place shield generator</li>
            <li>Tell favorite joke about periodic table</li>
            <li>Unleash primal rage</li>
            <li><%=newListItem%></li>
         </ul>
         <form action="/" method="post">
            <input type = "text" name="newItem">

            <button type = "submit" name="button"></button>
         </form>
    </body>
</html>