body{
    text-align: left;
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin:0;
    padding:0;
}



h1{
    font-size: 250%;
    width: 50%;
}
h2{
    font-size: 200%;
}
h3{
    font-size: 150%;
}

.about-me
{
    text-align: center;
    background-color: #D2DAFF;
}




.profile
{
    width: 60%;
    border-radius: 100%;
    padding: 1%;

}


.bot-con
{
    background-color:#EEF1FF ;
    border: 7% 15%;
    text-align: center;
}


#copywrite
{
    color : #EEF1FF;
    
}

.skills
{
    width:100%;
    border:7% 15%;
    background-color: #D2DAFF;
}

.objective
{
    background-color:#EEF1FF ;
    border: 7% 15%;
}

.courses
{
    background-color:#EEF1FF ;
    border: 7% 15%;
}

.education
{
    width:100%;
    border:7% 15%;
    background-color: #D2DAFF;
    
}

.projects
{
    width:100%;
    border:7% 15%;
    background-color:#EEF1FF ;
}

.contacts
{
    text-align: center;
    border: 7% 15%;
    background-color: #D2DAFF;
}

#projectsControls
{
    text-align: center;
}

.carousel-images
{
    width: 50%;
}


@media (max-width: 1028px) {

  
  
    .carousel-image {
      width:40%;
    }
  }
