body{
    margin:0;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: normal;
}

hr {
    border-style: none;
    height: 0px;
    width: 20%;
    border-style:dotted none none;
    border-width:10px;
    border-color:#87A2FB;
}

h1{
    font-size: 250%;
    width: 50%;
    text-align: center;
}
h2{
    font-size: 200%;
}
h3{
    font-size: 100%;
}

.about-me
{
    text-align: center;
}

.profile
{
    width: 60%;
    border-radius: 100%;
    padding: 7%;
}

.mid-con
{
    margin: 5%;
    text-align: center;
}

.bot-con
{
    border: 20px;
    background-color: #ADDDD0;
}


#copywrite
{
    color : white;
}

.skill-image-1
{
    width: 50%;
}

.skills
{
    width: 70%;
    margin:7% 15%;
    
}

.education
{
    width:70%;
    margin:7% 15%;
    
}
